.SvgIcon_root__keb_Y {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.SvgIcon_color-inverse__FGqw4 {
  color: var(--text-inverse);
}
.SvgIcon_color-primary__AFmfa {
  color: var(--primary);
}
.SvgIcon_color-secondary__PQ8cT {
  color: var(--secondary);
}
.SvgIcon_color-action__sibJT {
  color: var(--action);
}
.SvgIcon_color-warning__hq27a {
  color: var(--warning);
}
.SvgIcon_color-error__FCVzF {
  color: var(--error);
}
.SvgIcon_color-disabled__p4BdX {
  color: var(--disabled);
}
.SvgIcon_color-text__Z2RkO {
  color: var(--text-primary);
}
.SvgIcon_color-success__Zc1ew {
  color: var(--success);
}
.SvgIcon_fontSize-inherit__iK9K_ {
  font-size: inherit;
}
.SvgIcon_fontSize-small__i__5t {
  font-size: 1rem;
}
.SvgIcon_fontSize-medium__0Imtv {
  font-size: 1.25rem;
}
.SvgIcon_fontSize-large__Xgixi {
  font-size: 2rem;
}
body.loading * {
  transition: none !important;
}
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body,
html {
  height: 100%;
  color: var(--text-primary);
  background: var(--bg-primary);
}
body,
code,
html {
  font-family: system-ui;
}
body,
dd,
dl,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
legend,
ol,
p,
ul {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.43;
}
#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
}
button,
input,
select,
textarea {
  box-sizing: border-box;
}
button {
  text-align: center;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
:root {
  --primary: #0070f3;
}
#nprogress {
  pointer-events: none;
}
#nprogress .bar {
  background: var(--primary);
  position: fixed;
  z-index: 2031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
@media (max-width: 599.5px) {
  #nprogress .bar {
    height: 1px;
  }
}
.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}
*,
:after,
:before {
  box-sizing: inherit;
}
b,
strong {
  font-weight: bolder;
}
@media print {
  body {
    background-color: #fff;
  }
}
body::-webkit-backdrop {
  background-color: #121212;
}
body::backdrop {
  background-color: #121212;
}
textarea {
  resize: vertical;
}
hr {
  border: 0;
  height: 1px;
  margin: 1em 0;
  display: block;
  padding: 0;
  border-top: 1px solid hsla(0, 0%, 47%, 0.1);
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"]input:-webkit-autofill,
input:-webkit-autofill:active,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
  -webkit-transition: background-color 5000s ease-in-out 0s,
    color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
  transition-delay: 5000s;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-box-shadow: inset 0 0 0 30px hsla(0, 0%, 55%, 0) !important;
}
input::-webkit-input-placeholder {
  color: currentColor;
  opacity: 0.42;
  -webkit-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
input::-moz-placeholder {
  color: currentColor;
  opacity: 0.42;
  -moz-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
input:-ms-input-placeholder {
  color: currentColor;
  opacity: 0.42;
  -ms-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
input::-ms-input-placeholder {
  color: currentColor;
  opacity: 0.42;
  -ms-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
input,
textarea {
  font: inherit;
  color: currentColor;
  width: 100%;
  border: 0;
  line-height: normal;
  margin: 0;
  display: block;
  padding: 6px 0 7px;
  min-width: 0;
  background: none;
  box-sizing: content-box;
  -webkit-tap-highlight-color: transparent;
}
input:focus,
textarea:focus {
  outline: 0;
}
input:invalid,
textarea:invalid {
  box-shadow: none;
}
input::-webkit-search-decoration,
textarea::-webkit-search-decoration {
  -webkit-appearance: none;
}
@media print {
  body {
    display: none;
  }
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
p {
  margin: 4px 0;
  font-weight: 400;
  line-height: 1.6;
}
.grecaptcha-badge {
  visibility: hidden;
}
@media (min-width: 0px) and (max-width: 599.95px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 0px) {
  .hidden-xsUp {
    display: none !important;
  }
}
@media (max-width: 599.95px) {
  .hidden-xsDown {
    display: none !important;
  }
}
@media (min-width: 600px) and (max-width: 799.95px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 600px) {
  .hidden-smUp {
    display: none !important;
  }
}
@media (max-width: 799.95px) {
  .hidden-smDown {
    display: none !important;
  }
}
@media (min-width: 800px) and (max-width: 1023.95px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 800px) {
  .hidden-mdUp {
    display: none !important;
  }
}
@media (max-width: 799.95px) {
  .hidden-mdDown {
    display: none !important;
  }
}
@media (min-width: 1024px) and (max-width: 1439.95px) {
  .hidden-lg {
    display: none !important;
  }
}
@media (min-width: 1024px) {
  .hidden-lgUp {
    display: none !important;
  }
}
@media (max-width: 1023.95px) {
  .hidden-lgDown {
    display: none !important;
  }
}
@media (min-width: 1440px) {
  .hidden-xl,
  .hidden-xlUp {
    display: none !important;
  }
}
@media (min-width: 0px) {
  .hidden-xlDown {
    display: none !important;
  }
}
.h200 {
  height: 200px;
}
.m16 {
  margin: 16px;
}
.mt0 {
  margin-top: 0;
}
.mt4 {
  margin-top: 4px;
}
.mt8 {
  margin-top: 8px;
}
.mt16 {
  margin-top: 16px;
}
.mb0 {
  margin-bottom: 0;
}
.mb4 {
  margin-bottom: 4px;
}
.mb8 {
  margin-bottom: 8px;
}
.mb16 {
  margin-bottom: 16px;
}
.ml4 {
  margin-left: 4px;
}
.ml8 {
  margin-left: 8px;
}
.ml16 {
  margin-left: 16px;
}
.mr4 {
  margin-right: 4px;
}
.mr8 {
  margin-right: 8px;
}
.mr16 {
  margin-right: 16px;
}
.hoverLink:hover {
  color: var(--primary);
}
.blur {
  filter: var(--blur);
}
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}
.static {
  position: static;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
}
.top-0 {
  top: 0;
}
.right-0 {
  right: 0;
}
.bottom-0 {
  bottom: 0;
}
.left-0 {
  left: 0;
}
.z-10 {
  z-index: 10;
}
.m-1 {
  margin: 0.25rem;
}
.m-2 {
  margin: 0.5rem;
}
.m-4 {
  margin: 1rem;
}
.m-8 {
  margin: 2rem;
}
.m-auto {
  margin: auto;
}
.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: 0.25rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mt-5 {
  margin-top: 1.25rem;
}
.mt-6 {
  margin-top: 1.5rem;
}
.mt-7 {
  margin-top: 1.75rem;
}
.mt-8 {
  margin-top: 2rem;
}
.mt-0\.5 {
  margin-top: 0.125rem;
}
.mr-1 {
  margin-right: 0.25rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.mr-6 {
  margin-right: 1.5rem;
}
.mr-8 {
  margin-right: 2rem;
}
.mr-auto {
  margin-right: auto;
}
.mb-1 {
  margin-bottom: 0.25rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-3 {
  margin-bottom: 0.75rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.mb-5 {
  margin-bottom: 1.25rem;
}
.mb-6 {
  margin-bottom: 1.5rem;
}
.mb-8 {
  margin-bottom: 2rem;
}
.mb-10 {
  margin-bottom: 2.5rem;
}
.ml-4 {
  margin-left: 1rem;
}
.ml-auto {
  margin-left: auto;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.table {
  display: table;
}
.grid {
  display: grid;
}
.list-item {
  display: list-item;
}
.hidden {
  display: none;
}
.h-8 {
  height: 2rem;
}
.h-12 {
  height: 3rem;
}
.h-full {
  height: 100%;
}
.w-5 {
  width: 1.25rem;
}
.w-8 {
  width: 2rem;
}
.w-10 {
  width: 2.5rem;
}
.w-12 {
  width: 3rem;
}
.w-full {
  width: 100%;
}
.flex-1 {
  flex: 1 1;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-grow {
  flex-grow: 1;
}
.transform {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
@-webkit-keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes ping {
  75%,
  to {
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes ping {
  75%,
  to {
    transform: scale(2);
    opacity: 0;
  }
}
@-webkit-keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
@-webkit-keyframes bounce {
  0%,
  to {
    transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
@keyframes bounce {
  0%,
  to {
    transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.cursor-pointer {
  cursor: pointer;
}
.resize {
  resize: both;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.items-start {
  align-items: flex-start;
}
.items-center {
  align-items: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.gap-1 {
  gap: 0.25rem;
}
.gap-2 {
  gap: 0.5rem;
}
.space-x-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}
.overflow-hidden,
.truncate {
  overflow: hidden;
}
.truncate {
  text-overflow: ellipsis;
}
.truncate,
.whitespace-nowrap {
  white-space: nowrap;
}
.rounded {
  border-radius: 0.25rem;
}
.rounded-full {
  border-radius: 9999px;
}
.border-0 {
  border-width: 0;
}
.border {
  border-width: 1px;
}
.p-0 {
  padding: 0;
}
.p-1 {
  padding: 0.25rem;
}
.p-2 {
  padding: 0.5rem;
}
.p-3 {
  padding: 0.75rem;
}
.p-4 {
  padding: 1rem;
}
.p-5 {
  padding: 1.25rem;
}
.p-6 {
  padding: 1.5rem;
}
.p-8 {
  padding: 2rem;
}
.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.pt-4 {
  padding-top: 1rem;
}
.pt-5 {
  padding-top: 1.25rem;
}
.pb-5 {
  padding-bottom: 1.25rem;
}
.pl-1 {
  padding-left: 0.25rem;
}
.text-center {
  text-align: center;
}
.font-bold {
  font-weight: 700;
}
.italic {
  font-style: italic;
}
.text-primary {
  color: var(--text-primary);
}
.underline {
  text-decoration: underline;
}
*,
:after,
:before {
  --tw-shadow: 0 0 #0000;
}
.shadow {
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
*,
:after,
:before {
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
}
.filter {
  --tw-blur: var(--tw-empty, /*!*/ /*!*/);
  --tw-brightness: var(--tw-empty, /*!*/ /*!*/);
  --tw-contrast: var(--tw-empty, /*!*/ /*!*/);
  --tw-grayscale: var(--tw-empty, /*!*/ /*!*/);
  --tw-hue-rotate: var(--tw-empty, /*!*/ /*!*/);
  --tw-invert: var(--tw-empty, /*!*/ /*!*/);
  --tw-saturate: var(--tw-empty, /*!*/ /*!*/);
  --tw-sepia: var(--tw-empty, /*!*/ /*!*/);
  --tw-drop-shadow: var(--tw-empty, /*!*/ /*!*/);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}
.blur {
  --tw-blur: blur(8px);
}
.invert {
  --tw-invert: invert(100%);
}
.transition {
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter,
    -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}
.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 640px) {
  .sm\:p-0 {
    padding: 0;
  }
  .sm\:py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
  .sm\:text-left {
    text-align: left;
  }
}
@media (min-width: 768px) {
  .md\:px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
@media (max-width: 400px) {
  .Header_headerLink__EvjUK {
    display: none !important;
  }
}
@media (min-width: 401px) {
  .Header_svg {
    display: none !important;
  }
}
@media (max-width: 250px) {
  .Header_navContainer__3fCGy.justify-end {
    display: none !important;
  }
}
:root {
  --bg-primary: #fafafa;
  --bg-secondary: #fff;
  --bg-header: hsla(0, 0%, 100%, 0.8);
  --bg-transparent: hsla(0, 0%, 100%, 0.5);
  --bg-highlight: hsla(0, 0%, 100%, 0.2);
  --bg-paper: #fff;
  --bg-input: #fff;
  --bg-inverse: #323232;
  --primary: #1976d2;
  --secondary: red;
  --secondary-light: #cf4138;
  --text-primary: rgba(0, 0, 0, 0.87);
  --text-secondary: rgba(0, 0, 0, 0.6);
  --text-inverse: hsla(0, 0%, 100%, 0.87);
  --text-on-primary: #fff;
  --disabled: rgba(0, 0, 0, 0.38);
  --shadow-elevation: rgba(0, 0, 0, 0.1) 0px 2px 35px 0px;
  --text-margin: 2rem 0;
  --poll-margin: 2.5rem 1rem;
  --heading-margin-top: 4rem;
  --heading-margin-bottom: 2.5rem;
  --li-margin: 0 0 1rem 0;
  --border: 1px solid hsla(0, 0%, 59%, 0.1);
  --border-active: 1px solid hsla(0, 0%, 59%, 0.2);
  --header-border-bottom: rgba(0, 0, 0, 0.1) 0px -1px 0px 0px inset;
  --warning: #ff9800;
  --error: red;
  --success: #4caf50;
  --blur: grayscale(1) blur(3px);
}
[data-theme="dark"] {
  --bg-primary: #121212;
  --bg-secondary: #121212;
  --bg-header: hsla(0, 0%, 9%, 0.8);
  --bg-transparent: rgba(0, 0, 0, 0.5);
  --bg-highlight: rgba(0, 0, 0, 0.1);
  --bg-paper: #1e1e1e;
  --bg-input: #202027;
  --bg-inverse: #fff;
  --primary: #202027;
  --secondary: red;
  --text-primary: #f5f5f5;
  --text-secondary: hsla(0, 0%, 100%, 0.64);
  --text-inverse: rgba(0, 0, 0, 0.87);
  --text-on-primary: #fff;
  --disabled: hsla(0, 0%, 100%, 0.38);
}
